.concernContainer {
  border-bottom: 3px solid black;
  padding-top: 10pt;
  padding-bottom: 10pt;
}

.contextTitle {
  font-size: 13pt;
  text-transform: uppercase;
}

.explanation {
  font-size: 11pt;
}

.ratingsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6pt;
}

.concernIndicatorContainer {
  margin-top: 10pt;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.indicatorLine {
  height: 2pt;
  margin-left: -2pt;
  margin-right: -2pt;
  background-color: black;
  flex-grow: 1;
}
