.concernTitle {
  text-transform: uppercase;
  font-size: 10pt;
  line-height: 10pt;
}

.concernIcon {
  font-size: 20pt !important;
  height: auto;
  margin-bottom:4pt;
}

.ratingContainer {
  width: 33.33%;
  padding: 5pt 10pt 10pt 10pt;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.ratingContainer:nth-child(3n) {
  border-right: none;
  padding-right: 0;
}

.ratingContainer:nth-child(n+4) {
  border-bottom: none;
}

.ratingContainer:nth-child(1), .ratingContainer:nth-child(4) {
  padding-left: 0;
}
