.summarySectionContainer {
  display: flex;
}

.colorsContainer {
  display: flex;
  flex-direction: column;
  padding: 20pt 20pt 20pt 0pt;
}

.colorContainer {
  width: 50pt;
  height: 35pt;
  margin-top: 6pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.color {
  width: 33.3%;
  height: 50%;
  margin: 0 auto;
}

.colorHeader {
  font-size: 7pt;
  text-align: center;
}

.detailsContainer {
  width: 100%;
  margin-top: 12pt;
  border-bottom: 1px solid lightgray;
  margin-bottom: 12pt;
}

.commentsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12pt;
}

.commentContainer {
  width: 50%;
  border-right: 1pt solid lightgray;
  border-bottom: 1pt solid lightgray;
  min-height: 60pt;
}

.commentContainer:nth-child(even) {
  border-right: none;
  padding-left: 10pt;
}

.commentContainer:nth-child(odd) {
  padding-right: 10pt;
}

.commentContainer:nth-child(3), .commentContainer:nth-child(4) {
  padding-top: 10pt;
  border-bottom: none;
}

.subareaHeader {
  font-weight: bold;
  margin-bottom: 3pt;
}

.summary {
  padding-top: 20pt;
  page-break-before: always;
}
