.summarySectionContainer {
  display: flex;
  page-break-inside: avoid;
}

.areaTitle {
  text-transform: uppercase;
}

.detailsContainer {
  width: 100%;
  margin-top: 12pt;
  border-bottom: 1px solid lightgray;
  margin-bottom: 12pt;
}

.commentsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12pt;
}

.commentContainer {
  width: 50%;
  border-right: 1pt solid lightgray;
  border-bottom: 1pt solid lightgray;
  min-height: 60pt;
  padding-bottom: 10pt;
}

.commentContainer:nth-child(even) {
  border-right: none;
  padding-left: 10pt;
}

.commentContainer:nth-child(odd) {
  padding-right: 10pt;
}

.commentContainer:nth-child(3),
.commentContainer:nth-child(4) {
  padding-top: 10pt;
  border-bottom: none;
}

.subareaHeader {
  font-weight: bold;
  margin-bottom: 3pt;
}

.summary {
  padding-top: 20pt;
  page-break-before: always;
}

.bodyText {
  margin-bottom: 10pt;
}
